html {
    background-color: rgb(48, 48, 48);
    color: rgb(255, 255, 255);
    width: 80%;
    margin: 0 auto;
    font-family: "Noto Sans", "Noto Sans CJK JP", sans-serif;
}

.flow {
    display: flex;
    flex-flow: row wrap;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    color: rgb(146, 217, 253);
    ;
}

.nav a {
    text-decoration: none;
    font-size: 0.8em;
}

.nav-right {
    float: right;
}

.nav-right .search {
    font-size: 0.5em;
    ;
}

.footer {
    margin: 0.5em 0;
    font-size: 0.8em;
    color: rgb(131, 131, 131);
}

.links {
    text-decoration: none;
    font-size: 0.8em;
}

.radical a {
    text-decoration: none;
    color: rgb(0, 136, 204);
}

.kanji a {
    text-decoration: none;
    color: rgb(204, 0, 136);
}

.vocabulary a {
    text-decoration: none;
    color: rgb(136, 0, 204);
}

.radical-highlight a {
    text-decoration: none;
    color: inherit;
}

.kanji-highlight a {
    text-decoration: none;
    color: inherit;
}

.vocabulary-highlight a {
    text-decoration: none;
    color: inherit;
}

.grammar-highlight a {
    text-decoration: none;
    color: inherit;
}

.radical-highlight {
    background-color: rgb(0, 136, 204);
}

.kanji-highlight {
    background-color: rgb(204, 0, 136);
}

.vocabulary-highlight {
    background-color: rgb(136, 0, 204);
}

.grammar-highlight {
    background-color: rgb(5, 156, 0);
}

.inline-highlight {
    padding: 0.0em 0.3em 0.3em 0.3em;
    display: inline-block;
    color: white;
    border-radius: 0.2em;
}

.title {
    font-size: 2.5em;
}

.title .id {
    color: rgb(131, 131, 131);
}

.title .characters {
    padding: 0.0em 0.2em;
    border-radius: 0.3em;
}

.title .level {
    color: rgb(131, 131, 131);
    font-size: 1.0em;
}

.title .title-character-image {
    width: 30px;
    height: auto;
}

.character-image {
    width: 20px;
    height: auto;
}

.section {
    margin: 0.5em 0;
}

.heading {
    font-weight: 900;
}

.characteralterativewriting {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: rgb(75, 75, 75);
}

.partsofspeech {
    margin: 0.2em 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: rgb(75, 75, 75);
}

.reading {
    margin: 0.5em 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}

.readingacceptedtrue {
    background-color: rgb(75, 75, 75);
}

.readingacceptedfalse {
    background-color: rgb(54, 54, 54);
    color: rgb(146, 146, 146);
}

.card {
    width: 150px;
    margin: 0.5em 0.5em;
}

.cardtop {
    min-height: 100px;
    text-align: center;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.2em 0.3em;
    display: inline-block;
    color: white;
    width: inherit;
}

.knownbar {
    background-color: green;
    border-radius: 0 0 0.5em 0.5em;
    height: 0.5em;
    padding: 0.2em 0.3em;
    width: inherit;
}

.character-image-container {
    padding: 10px;
}

.character-image {
    width: 30px;
    height: auto;
}

.cardjp {
    font-size: 2em;
}

.cardbar {
    border-radius: 0 0 0.5em 0.5em;
    height: 0.5em;
    padding: 0.2em 0.3em;
    width: inherit;
    background-color: rgb(116, 204, 0);
}

.stage-Unavailable {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

.stage-Available {
    background-color: rgb(255, 128, 0);
    color: rgb(255, 255, 255);
}

.stage-QueuedToLearn {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

.stage-UpNext {
    background-color: rgb(153, 0, 255);
    color: rgb(255, 255, 255);
}

.stage-Learning {
    background-color: rgb(67, 255, 199);
    color: rgb(0, 0, 0);
}

.stage-Learned {
    background-color: rgb(0, 255, 0);
    color: rgb(0, 0, 0);
}

.stage-Burned {
    background-color: rgb(161, 161, 161);
    color: rgb(0, 0, 0);
}

.cardtop .meaning {
    color: green;
    vertical-align: bottom;
}

.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.definition-tooltip {
    position: relative;
}

.definition-tooltip .definition-tooltiptext {
    font-size: 0.5em;
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -150px;
    opacity: 0;
    transition: opacity 0.3s;
}

.definition-tooltip .definition-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.definition-tooltip:hover .definition-tooltiptext {
    visibility: visible;
    opacity: 1;
}

.input-interval {
    size: 10px;
}

.srs-object-type {
    font-size: 1.0em;
    text-align: center;
    background-color: rgb(88, 88, 88);
}

.character-srs-image-container {
    padding: 40px;
}

.character-srs-image {
    width: 200px;
    height: auto;
}

.srs-jp {
    font-size: 10em;
    text-align: center;
}

.srs-answer-parent {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.srs-answer-section {
    margin: 0.5em 0.5em;
    background-color: rgb(78, 78, 78);
    width: 40%;
    min-height: 100px;
}

.srs-heading {
    font-size: 1.0em;
    text-align: center;
    background-color: rgb(88, 88, 88);
}

.srs-answer {
    padding: 0.5em;
}

.srs-hidden {
    display: none;
}

.srs-reading {
    font-size: 1.5em;
}

.srs-submit {
    display: flex;
    width: 100%;
    justify-content: center;
}

.srs-submit-button {
    margin: 0.5em 0.5em;
    width: 300px;
    height: 100px;
    font-size: 3.0em;
    border-radius: 0.5em;
    /* align text in the middle of the button */
    display: flex;
    justify-content: center;
    align-items: center;

}

.srs-submit-button:hover {
    cursor: pointer;
}

.srs-correct {
    background-color: rgb(47, 179, 47);
}

.srs-incorrect {
    background-color: rgb(194, 55, 55);
}

.srs-submit-hidden {
    display: none;
}

.srs-not-accepted {
    color: rgb(112, 111, 111);
}

.banner {
    color: rgb(155, 155, 155);
    text-align: center;
    font-size: 3.0em;
}

.subbanner {
    text-align: center;
    font-size: 2.0em;
}

.srs-congratulations {
    font-size: 1.0em;
    text-align: center;
}

.congratulations-character {
    font-size: 3em;
    text-align: center;
}

.congratulations-learning-stage {
    font-size: 2.0em;
    text-align: center;
}

.return-to-srs {
    font-size: 1.5em;
    text-align: center;
}

.srs-upnext-heading {
    font-size: 2.0em;
    text-align: center;
    background-color: rgb(255, 238, 160);
    color: rgb(0, 0, 0);
}

.srs-upnext-text {
    font-size: 1.5em;
    text-align: center;
}

.srs-add-new-cards {
    font-size: 1.5em;
    text-align: center;
}

.ta-original-text {
    font-size: 1.5em;
}

.ta-analysed-text {
    font-size: 1.5em;
}

.token-missing {
    color: rgb(255, 103, 103);
}

.token-none {
    color: rgb(170, 170, 170);
}

.ta-token:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: rgb(255, 255, 255);
    text-underline-offset: 6px;
}

.a-none {
    text-decoration: none;
    color: inherit;
}

.dictionary-entry {
    color: rgb(255, 255, 255);
}

.dictionary-entry .dictionary-expressions {
    font-size: 2.0em;
}

.dictionary-entry .dictionary-readings {
    font-size: 1.5em;
    color: rgb(168, 168, 168)
}

.dictionary-entry .dictionary-parts-of-speech {
    font-size: 1.0em;
    color: rgb(168, 168, 168);
    margin: 0 0.5em;
}

.dictionary-entry .dictionary-definitions {
    font-size: 1.0em;
    margin: 0 1.0em;
}

.card-tooltip {
    color: rgb(255, 255, 255);
}

.card-tooltip .card-characters {
    font-size: 2.0em;
}

.card-tooltip .card-readings {
    font-size: 1.5em;
    color: rgb(168, 168, 168)
}

.card-tooltip .card-parts-of-speech {
    font-size: 1.0em;
    color: rgb(168, 168, 168);
    margin: 0 0.5em;
}

.card-tooltip .card-meanings {
    font-size: 1.0em;
    margin: 0 1.0em;
}

.dictionary-search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

#dictionarysearchterm {
    width: 50%;
    font-size: 1.0em;
    border-radius: 0.5em;
}

#dictionarysearchbutton {
    width: 70px;
    font-size: 1.5em;
    border-radius: 0.5em;
}

.dict-token {
    margin: 0.2em 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: rgb(75, 75, 75);
}


.dict-matching-card {
    margin: 0.2em 0.2em;
    padding: 0.2em;
    border-radius: 0.5em;
    background-color: rgb(75, 75, 75);
}

.schedule-time {
    color: rgb(129, 129, 129);
    margin-right: 10px;
}

.graph-bar{
    height: 20px;
}

.graph-bar-remaining {
    height: 20px;
    background-color: rgb(146, 146, 146);
}

.schedule-bar {
    height: 20px;
    background-color: rgb(58, 127, 255);
    text-align: left;
}

.schedule-count {
    margin-left: 5px;
}

.kanji-freq-name {
    color: rgb(129, 129, 129);
    margin-right: 10px;
}

.kanji-freq-bar {
    height: 20px;
    background-color: rgb(58, 127, 255);
    text-align: left;
}

.kanji-freq-bar-remaining {
    height: 20px;
    background-color: rgb(146, 146, 146);
    text-align: left;
}

.kanji-freq-percent {
    margin-left: 5px;
}

.audio-play-button {
    width: 50px;
    height: 50px;
    background-color: rgb(75, 75, 75);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sentence {
    margin: 10px 0px;
}

.sentence .sentence-japanese {
    font-size: 1.2em;
}

.sentence .sentence-english {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

.sentence .sentence-english:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.reference {
    font-style: italic;
    font-size: 0.8em;
}

.srs-jp-grammar{
    font-size : 2.0em;
    text-align: center;
    padding: 10px;
}

.srs-jp-grammar .grammar-highlight {
    color: rgb(0, 0, 0);
    background-color: rgb(124, 255, 91);
}

.margin-right {
    margin-right: 10px;
}