{{ define "windowtitle" }}Edit: {{.CardDataTree.Card.ID}} - {{.CardDataTree.Card.Characters}}{{ end }}
{{ define "title" }}
Editing:
<span class="id">{{.CardDataTree.Card.ID}} - </span>
<span class="characters {{.CardDataTree.Card.Object}}-highlight">{{if .CardDataTree.Card.CharacterImage}}<img
        class="title-character-image"
        src="/data/img/{{.CardDataTree.Card.CharacterImage}}" />{{else}}{{.CardDataTree.Card.Characters}}{{end}}</span>
{{if .CardDataTree.Card.Level}}<span class="level">Level {{.CardDataTree.Card.Level}}</span>{{end}}
{{ end }}
{{ define "head" }}
<link href="/static/js/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
<script src="/static/js/jsoneditor/jsoneditor.min.js"></script>
<link href="/static/js/jsoneditor/darktheme.css" rel="stylesheet" type="text/css">
{{ end }}
{{ define "scripts" }}
{{ end }}

{{ define "content" }}
<div class="links">
    <a href="{{.CardDataTree.Card.DocumentURL}}">View on Wanikani</a>
    |
    <a href="https://jisho.org/search/{{.CardDataTree.Card.Characters}}">View on Jisho</a>
    |
    <a href="/card/{{.CardDataTree.Card.ID}}/json">View JSON</a>
    |
    <a href="/card/{{.CardDataTree.Card.ID}}">Back</a>
    |
    <a onclick="return confirm('Are you sure you want to delete this card?');" href="/card/{{.CardDataTree.Card.ID}}/delete">Delete</a>
    |
    <a onClick="saveJson()">Save</a>
</div>

<hr>

<div class="section">
    <div class="heading">Character Image</div>
    <div>Upload a character image (pngs only)</div>
    <div>This will reload the json and lose any changes you have manually made.</div>
    <input type="file" id="file" name="file" />
    <a onClick="uploadCharacterImage()">Upload</a>
</div>

<hr>

<div class="section">
    <div class="heading">JSON</div>
    <div id="jsoneditor"></div>
</div>

<script>
    function loadJson() {
        // Fetches the json from the server and sets it in the editor
        // Then expands all nodes
        fetch(jsonUrl)
            .then(response => response.json())
            .then(json => editor.set(json))
            .then(() => editor.expandAll())
    }

    function saveJson() {
        // Sends the updated json to the server
        const updatedJson = editor.get()
        fetch(jsonSaveUrl, {
            method: 'POST',
            body: JSON.stringify(updatedJson),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
            if (response.ok) {
                // Redirect to the card page
                window.location.href = "/card/{{.CardDataTree.Card.ID}}"
            } else {
                alert("Error saving!")
            }
        })
    }

    // Upload character image to the server
    function uploadCharacterImage() {
        const file = document.getElementById("file").files[0]
        const formData = new FormData()
        formData.append("file", file)
        fetch("/card/{{.CardDataTree.Card.ID}}/edit/characterimageupload", {
            method: 'POST',
            body: formData
        }).then(response => {
            if (response.ok) {
                // Reload the page
                window.location.href = "/card/{{.CardDataTree.Card.ID}}/edit"
            } else {
                alert("Error uploading!")
            }
        })
    }

    // create the editor
    const container = document.getElementById("jsoneditor")
    const options = {
        mode: 'tree',
        modes: ['code', 'form', 'text', 'tree', 'view', 'preview'], // allowed modes
        onModeChange: function (newMode, oldMode) {
            console.log('Mode switched from', oldMode, 'to', newMode)
        }
    }
    const editor = new JSONEditor(container, options)

    const jsonUrl = "/card/{{.CardDataTree.Card.ID}}/json"
    const jsonSaveUrl = "/card/{{.CardDataTree.Card.ID}}/edit/save"

    // fetch the json and set it in the editor
    loadJson()
</script>

{{ end }}