{{ define "windowtitle" }}Schedule{{ end }}
{{ define "title" }}Schedule{{ end }}

{{ define "content" }}

<div class="section">
    This page shows the number of cards that are scheduled to be reviewed for a given hour for the next 48 hours.
</div>

{{ range .Schedule }}
<div class="flow">
    <div class="schedule-time">{{.Time}}</div>
    <div class="schedule-bar" style="width: {{ add (mul .Count 5) 0}}px;"></div>
    <div class="schedule-count">{{.Count}}</div>
</div>
{{ end }}
{{ end }}

{{ template "templatemain.html" .}}