{{ define "windowtitle" }}Card Overview{{ end }}
{{ define "title" }}Card Overview{{ end }}

{{ define "content" }}
<div class="links">
    <a href="/cardoverview/bylearningstage">By Learning Stage</a>
    |
    <a href="/cardoverview/bylevel">By Level</a>
    |
    <a href="/cardoverview/bydue">By Due</a>
    |
    <a href="/cardoverview/bytype">By Type</a>
    |
    <a href="/cardoverview/bypartsofspeech">By Parts of Speech</a>
    |
    <a href="/cardoverview/byreviewperformance">By Review Performance</a>
    |
    <a href="/cardoverview/bytag">By Tag</a>
    |
    <a href="/cardoverview/simulate/0.9/10">Simulate</a>
    |
    <a href="/cardoverview/debug">Debug</a>
</div>

<hr>

<input type="number" id="simulator-correct-rate" value="{{.CorrectRate}}" />
<input type="number" id="simulator-cards-per-day" value="{{.NewCardsPerDay}}" />
<button id="simulator-button">Simulate</button>

<hr>

{{range .CardOverviewData}}
<div class="section">
    <details>
        <summary>
            <span class="heading">{{.Title}} ({{ if .ShowLearnedCount }}{{.LearnedCount}} / {{end}}{{ len .Cards }})</span>
        </summary>
        <div class="flow">
            {{range .Cards}}
            <div class="card">
                <div class="cardtop {{.Object}}-highlight">
                    <a href="/card/{{.ID}}">
                        {{if .CharacterImage}}
                        <div class="character-image-container">
                            <img class="character-image" src="/data/img/{{.CharacterImage}}" />
                        </div>
                        {{else}}
                        <div class="cardjp">{{.Characters}}</div>
                        {{end}}
                        <div>{{ (index .Meanings 0).Meaning }}</div>
                    </a>
                </div>
                <div class="tooltip cardbar stage-{{ stripspaces .LearningStageString}}"><span class="tooltiptext">{{.LearningStageString}}</span></div>
            </div>
            {{end}}
        </div>
    </details>
</div>
{{end}}

<script>
    document.getElementById("simulator-button").addEventListener("click", function() {
        var correctRate = document.getElementById("simulator-correct-rate").value;
        var cardsPerDay = document.getElementById("simulator-cards-per-day").value;
        window.location.href = "/cardoverview/simulate/" + correctRate + "/" + cardsPerDay;
    });
</script>

{{ end }}