{{ define "windowtitle" }}Text Analysis - {{.TextAnalysis.Name}}{{ end }}
{{ define "title" }}{{.TextAnalysis.Name}}{{ end }}

{{ define "dictionaryentry" }}
<div class="dictionary-entry">
    {{if .Expressions}}
    <div class="dictionary-expressions">{{range $index, $element := .Expressions}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    {{else}}
    <div class="dictionary-expressions">{{range $index, $element := .Readings}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    {{end}}
    <div class="dictionary-readings">Readings:{{range $index, $element := .Readings}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    {{range .Definitions}}
    <div class="dictionary-parts-of-speech">{{range $index, $element := .PartsOfSpeech}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    <div class="dictionary-definitions">{{range $index, $element := .Definitions}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    {{end}}
</div>
{{ end }}

{{ define "cardTooltip" }}
<div class="card-tooltip">
    <div class="card-characters">{{.Characters}}</div>
    <div class="card-readings">Readings: {{range $index, $element := .Readings}}{{if $index}}; {{end}}{{$element.Reading}}{{end}}</div>
    <div class="card-parts-of-speech">{{range $index, $element := .PartsOfSpeech}}{{if $index}};
        {{end}}{{$element}}{{end}}</div>
    <div class="card-meanings">{{range $index, $element := .Meanings}}{{if $index}}; {{end}}{{$element.Meaning}}{{end}}
    </div>
</div>
{{ end }}

{{ define "dictionary-text" }}<span class="ta-token token-missing"><span class="definition-tooltip"><a  class="a-none" href="/dictionaryentries?ids={{range $index, $element := .DictionaryEntries}}{{if $index}},{{end}}{{$element.ID}}{{end}}">{{ newlinetohtml .Surface}}</a><span class="definition-tooltiptext">{{ range .DictionaryEntries }}{{ template "dictionaryentry" . }}{{ end }}</span></span></span>{{ end }}

{{ define "card-text" }}<span class="ta-token stage-{{ stripspaces .Card.LearningStageString }}"><span class="definition-tooltip"><a class="a-none" href="/card/{{.Card.ID}}">{{ newlinetohtml .Surface}}</a><span class="definition-tooltiptext">{{template "cardTooltip" .Card}}</span></span></span>{{ end }}

{{ define "none-text" }}<span class="ta-token token-none">{{ newlinetohtml .Surface}}</span>{{ end }}


{{ define "content" }}

<div class="links">
    <a href="/textanalysis/{{.TextAnalysis.ID}}/delete">Delete</a>
</div>

<hr>

<div>Non highlighted text is not in the card database. This could include particles, words written in hiragana but exist
    as kanji in the cards, words that don't exist in the card database at all and need to be added.</div>

<div class="section">
    <div class="heading">Key</div>
    <span class="stage-Unavailable">Unavailable</span>
    <span class="stage-Available">Available</span>
    <span class="stage-QueuedToLearn">Queued to Learn</span>
    <span class="stage-UpNext">Up Next</span>
    <span class="stage-Learning">Learning</span>
    <span class="stage-Learned">Learned</span>
    <span class="stage-Burned">Burned</span>
    <span class="token-missing">Missing Card</span>
</div>

<div class="section">
    <details open>
        <summary>
            <span class="heading">Analysed Text</span>
        </summary>
        <div class="ta-analysed-text">
            {{ range .TextAnalysis.Tokens }}{{if .Card}}{{template "card-text" . }}{{ else if .DictionaryEntries}}{{template "dictionary-text" .}}{{else}}{{template "none-text" .}}{{end}}{{end}}
        </div>
    </details>
</div>

<div class="section">
    <details>
        <summary>
            <span class="heading">Original Text</span>
        </summary>
        <div class="ta-original-text">{{.HTMLSafeText}}</div>
    </details>
</div>

<div class="section">
    <details>
        <summary>
            <span class="heading">Tokens</span>
        </summary>
        {{ range .TextAnalysis.Tokens }}
        <hr>
        <div>
            <div>Surface: {{.Surface}}</div>
            <div>Base Form: {{.BaseForm}}</div>
            <div>Part of Speech: {{.PartsOfSpeech}}</div>
            <div>Pronunciation: {{.Pronunciation}}</div>
            <div>Learning Stage: {{.LearningStage}}</div>
            <div>Learning Stage String: {{.LearningStageString}}</div>
            <div>
                {{ range .DictionaryEntries }}
                {{ template "dictionaryentry" . }}
                {{ end }}
            </div>
        </div>
        {{ end }}
    </details>
</div>

{{ end }}

{{ template "templatemain.html" .}}